WebContent/wsdl/travelimp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TravelService" targetNamespace="http://service.webservice.travel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.webservice.travel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.webservice.travel.com/" schemaLocation="travelimp_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="addDest">
    <wsdl:part name="parameters" element="tns:addDest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountry">
    <wsdl:part name="parameters" element="tns:getCountry">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestinationsByCityResponse">
    <wsdl:part name="parameters" element="tns:getDestinationsByCityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDestResponse">
    <wsdl:part name="parameters" element="tns:deleteDestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDest">
    <wsdl:part name="parameters" element="tns:getAllDest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDest">
    <wsdl:part name="parameters" element="tns:deleteDest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestinationNameResponse">
    <wsdl:part name="parameters" element="tns:getDestinationNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCitiesResponse">
    <wsdl:part name="parameters" element="tns:getCitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestinations">
    <wsdl:part name="parameters" element="tns:getDestinations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestGroupResponse">
    <wsdl:part name="parameters" element="tns:getDestGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestinationName">
    <wsdl:part name="parameters" element="tns:getDestinationName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDestResponse">
    <wsdl:part name="parameters" element="tns:addDestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDestResponse">
    <wsdl:part name="parameters" element="tns:getAllDestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestinationsResponse">
    <wsdl:part name="parameters" element="tns:getDestinationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestinationsByCity">
    <wsdl:part name="parameters" element="tns:getDestinationsByCity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCities">
    <wsdl:part name="parameters" element="tns:getCities">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDestGroup">
    <wsdl:part name="parameters" element="tns:getDestGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryResponse">
    <wsdl:part name="parameters" element="tns:getCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Travel">
    <wsdl:operation name="addDest">
      <wsdl:input name="addDest" message="tns:addDest">
    </wsdl:input>
      <wsdl:output name="addDestResponse" message="tns:addDestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDestinationName">
      <wsdl:input name="getDestinationName" message="tns:getDestinationName">
    </wsdl:input>
      <wsdl:output name="getDestinationNameResponse" message="tns:getDestinationNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountry">
      <wsdl:input name="getCountry" message="tns:getCountry">
    </wsdl:input>
      <wsdl:output name="getCountryResponse" message="tns:getCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDest">
      <wsdl:input name="getAllDest" message="tns:getAllDest">
    </wsdl:input>
      <wsdl:output name="getAllDestResponse" message="tns:getAllDestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDestinationsByCity">
      <wsdl:input name="getDestinationsByCity" message="tns:getDestinationsByCity">
    </wsdl:input>
      <wsdl:output name="getDestinationsByCityResponse" message="tns:getDestinationsByCityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDest">
      <wsdl:input name="deleteDest" message="tns:deleteDest">
    </wsdl:input>
      <wsdl:output name="deleteDestResponse" message="tns:deleteDestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCities">
      <wsdl:input name="getCities" message="tns:getCities">
    </wsdl:input>
      <wsdl:output name="getCitiesResponse" message="tns:getCitiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDestGroup">
      <wsdl:input name="getDestGroup" message="tns:getDestGroup">
    </wsdl:input>
      <wsdl:output name="getDestGroupResponse" message="tns:getDestGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDestinations">
      <wsdl:input name="getDestinations" message="tns:getDestinations">
    </wsdl:input>
      <wsdl:output name="getDestinationsResponse" message="tns:getDestinationsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TravelServiceSoapBinding" type="tns:Travel">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addDest">
      <soap:operation soapAction="urn:AddDest" style="document"/>
      <wsdl:input name="addDest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDestinationName">
      <soap:operation soapAction="urn:GetDestinationName" style="document"/>
      <wsdl:input name="getDestinationName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDestinationNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountry">
      <soap:operation soapAction="urn:GetCountry" style="document"/>
      <wsdl:input name="getCountry">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDest">
      <soap:operation soapAction="urn:GetAllDest" style="document"/>
      <wsdl:input name="getAllDest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllDestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDestinationsByCity">
      <soap:operation soapAction="urn:GetDestinationsByCity" style="document"/>
      <wsdl:input name="getDestinationsByCity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDestinationsByCityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDest">
      <soap:operation soapAction="urn:DeleteDest" style="document"/>
      <wsdl:input name="deleteDest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteDestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCities">
      <soap:operation soapAction="urn:GetCities" style="document"/>
      <wsdl:input name="getCities">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCitiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDestGroup">
      <soap:operation soapAction="urn:GetDestGroup" style="document"/>
      <wsdl:input name="getDestGroup">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDestGroupResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDestinations">
      <soap:operation soapAction="urn:GetDestinations" style="document"/>
      <wsdl:input name="getDestinations">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDestinationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TravelService">
    <wsdl:port name="TravelPort" binding="tns:TravelServiceSoapBinding">
      <soap:address location="http://localhost:8080/com.travel.webservice/services/TravelPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
